USE [Shelby]
GO
/****** Object:  Table [dbo].[DataBaseTemp]    Script Date: 1/2/2020 11:36:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataBaseTemp](
	[MCC] [nvarchar](255) NULL,
	[RiskLevel] [float] NULL,
	[FuturDel] [float] NULL,
	[BOOKSTORES] [nvarchar](255) NULL,
	[60dayCB] [float] NULL,
	[120dayestreturn] [float] NULL,
	[CNPFactor] [float] NULL,
	[CNPTxn] [float] NULL,
	[FutureDelivery] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EstFutureDelivery]    Script Date: 1/2/2020 11:36:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstFutureDelivery](
	[RiskLevel] [int] NULL,
	[FutureDelivery] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 1/2/2020 11:36:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](15) NULL,
	[Size] [nvarchar](5) NULL,
	[Price] [money] NOT NULL,
	[Quantity] [int] NULL,
	[Data] [nvarchar](4000) NULL,
	[Tags] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RiskLevelTemp]    Script Date: 1/2/2020 11:36:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiskLevelTemp](
	[MCC] [nvarchar](255) NULL,
	[Risk Level] [float] NULL,
	[MCC Description] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VisaDataTemp]    Script Date: 1/2/2020 11:36:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisaDataTemp](
	[MCC] [nvarchar](255) NULL,
	[MEC Risk Level] [float] NULL,
	[Daily FES ] [float] NULL,
	[Monthly FES] [float] NULL,
	[Descriptor] [nvarchar](255) NULL,
	[Futur Del] [float] NULL,
	[CBK % (120d)] [float] NULL,
	[Return % (60d)] [float] NULL,
	[CNP Factor] [float] NULL,
	[CNP %] [float] NULL,
	[F11] [float] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[DataBaseTemp] ([MCC], [RiskLevel], [FuturDel], [BOOKSTORES], [60dayCB], [120dayestreturn], [CNPFactor], [CNPTxn], [FutureDelivery]) VALUES (N'742', 9, 0, N'VETERINARY SERVICES                                                                                                                                                                                                                                            ', 0.0001, 0.005, 1, 0.2977, 0)
GO
INSERT [dbo].[DataBaseTemp] ([MCC], [RiskLevel], [FuturDel], [BOOKSTORES], [60dayCB], [120dayestreturn], [CNPFactor], [CNPTxn], [FutureDelivery]) VALUES (N'763', 9, 0, N'AGRICULTURAL CO-OPERATIVE                                                                                                                                                                                                                                      ', 0.0003, 0.018, 1, 0.7395, 0)
GO
INSERT [dbo].[DataBaseTemp] ([MCC], [RiskLevel], [FuturDel], [BOOKSTORES], [60dayCB], [120dayestreturn], [CNPFactor], [CNPTxn], [FutureDelivery]) VALUES (N'780', 8, 1, N'LANDSCAPING & HORTICULTURAl                                                                                                                                                                                                                                    ', 0.0081, 0.0076, 1, 0.6319, 0)
GO
INSERT [dbo].[EstFutureDelivery] ([RiskLevel], [FutureDelivery]) VALUES (1, 105)
GO
INSERT [dbo].[EstFutureDelivery] ([RiskLevel], [FutureDelivery]) VALUES (2, 60)
GO
INSERT [dbo].[EstFutureDelivery] ([RiskLevel], [FutureDelivery]) VALUES (3, 37)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
INSERT [dbo].[Product] ([ProductID], [Name], [Color], [Size], [Price], [Quantity], [Data], [Tags]) VALUES (15, N'Adjustable Race', N'Magenta', N'62', 100.0000, 75, N'{"Type":"Part","MadeIn":"China"}', NULL)
GO
INSERT [dbo].[Product] ([ProductID], [Name], [Color], [Size], [Price], [Quantity], [Data], [Tags]) VALUES (16, N'Bearing Ball', N'Magenta', N'62', 15.9900, 90, N'{"ManufacturingCost":11.672700,"Type":"Part","MadeIn":"China"}', N'["promo"]')
GO
INSERT [dbo].[Product] ([ProductID], [Name], [Color], [Size], [Price], [Quantity], [Data], [Tags]) VALUES (17, N'BB Ball Bearing', N'Magenta', N'62', 28.9900, 80, N'{"ManufacturingCost":21.162700,"Type":"Part","MadeIn":"China"}', NULL)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[RiskLevelTemp] ([MCC], [Risk Level], [MCC Description]) VALUES (N'3053', 1, N'Airlines, Air Carriers (Aviaco Air)')
GO
INSERT [dbo].[RiskLevelTemp] ([MCC], [Risk Level], [MCC Description]) VALUES (N'4411', 1, N'Cruise Lines')
GO
INSERT [dbo].[RiskLevelTemp] ([MCC], [Risk Level], [MCC Description]) VALUES (N'4511', 1, N'Airlines, Air Carriers')
GO
INSERT [dbo].[VisaDataTemp] ([MCC], [MEC Risk Level], [Daily FES ], [Monthly FES], [Descriptor], [Futur Del], [CBK % (120d)], [Return % (60d)], [CNP Factor], [CNP %], [F11]) VALUES (N'742', 9, 0.083333333333333329, 0.16666666666666666, N'VETERINARY SERVICES                                                                                                                                                                                                                                            ', 0, 0.0001, 0.005, 1, 0.2977, NULL)
GO
INSERT [dbo].[VisaDataTemp] ([MCC], [MEC Risk Level], [Daily FES ], [Monthly FES], [Descriptor], [Futur Del], [CBK % (120d)], [Return % (60d)], [CNP Factor], [CNP %], [F11]) VALUES (N'763', 9, 0.083333333333333329, 0.16666666666666666, N'AGRICULTURAL CO-OPERATIVE                                                                                                                                                                                                                                      ', 0, 0.0003, 0.018, 1, 0.7395, NULL)
GO
INSERT [dbo].[VisaDataTemp] ([MCC], [MEC Risk Level], [Daily FES ], [Monthly FES], [Descriptor], [Futur Del], [CBK % (120d)], [Return % (60d)], [CNP Factor], [CNP %], [F11]) VALUES (N'780', 8, 0.041666666666666664, 0.083333333333333329, N'LANDSCAPING & HORTICULTURAl                                                                                                                                                                                                                                    ', 1, 0.0081, 0.0076, 1, 0.6319, NULL)
GO
